
body {
    background-color: #2f2f34;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

footer {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: center;
}

a {
    color:#85baf8;
    text-decoration:none;
    font-weight:bold;
    -webkit-transition: color 0.2s; /* For Safari 3.1 to 6.0 */
  transition: color 0.2s;
    }

a:hover {
    color:#ea2b2b;
}

.icons {
    color: white;
}

header {
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
}

.bang {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 25px;
}

hr {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 15px;
}

.bye {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .bang {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    }

    hr {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    }

    .bye {
    margin-top: 5px;
    }
}